.contenedor {
    background-color: lightcyan; 
    font-family: 'Roboto', sans-serif;}
.header{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;}

.carousel {
    display: block;
    justify-content:center;}


.bannerhome{
    height: 60vh;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    opacity: 0.92;}

.bannerhome h2 {
    justify-content: center;
    font-weight: bold;
    color: rgb(2, 1, 1);
    font-size: 6vw;
    font-weight: 80px;
    text-align: right;
    width: 100%;
    line-height: 1;
    font-family: 'Ubuntu', sans-serif; }

.poductos__titulo{
    display: block;
    margin: 2px;
    justify-content: center;
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;}

.contact {
    display: block;
    margin: 2px;
    justify-content: center;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    background-color: #f7deb8;}
  

.footer {
    color: deeppink;
    display: flex;
    background-color: #3a3838;
    height: 400px;
    padding: 2px;
    justify-content: center;
    align-items: center; }
    .footer ul {
      text-decoration: none;
      text-align: center;
      color: deeppink;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold; }
    .footer li {
      list-style: none;
      text-decoration: none; }
    .footer :hover {
      color: yellow; }